<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

    <link href="http://fonts.cdnfonts.com/css/tajawal" rel="stylesheet">

    <link rel="stylesheet" href="./style.css">


</head>

<body>
    <!-- Container for demo purpose -->
    <div>


        <section class="relative">
            <nav class=" sticky top-0 z-50  z-10 absolute top-0 my-auto  flex items-center w-full justify-between  py-4 bg-transparent">
                <nav class="absolute top-0   bg-transparent  flex items-center w-full justify-between shadow-md py-2 bg-transparent ">
                    <div class="px-6 w-full flex flex-wrap  justify-between">



                    </div>

                </nav>
            </nav>


            <nav class=" sticky top-0 z-50   z-20 absolute top-10 mt-5 navbar navbar-expand-lg  py-1 bg-transparent flex items-center w-full justify-between ">
                <div class="px-6 w-full flex flex-wrap items-center justify-between border-t-2 border-slate-500">
                    <button class="navbar-toggler ml-auto border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentU"
                        aria-controls="navbarSupportedContentU" aria-expanded="false" aria-label="Toggle navigation">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                    </svg>
                  </button>
                    <div class="navbar-collapse collapse grow items-center " id="navbarSupportedContentU">
                        <ul class="navbar-nav ml-auto flex flex-row ">

                            <li class="nav-item dropdown static lg:px-6">
                                <a class="nav-link block pr-2 lg:px-2 py-2 text-lg font-semibold text-white hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out dropdown-toggle flex items-center whitespace-nowrap" href="#" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                    type="button" id="dropdownMenuButtonU" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                                      </svg> المشاريع

                                </a>
                                <div class="dropdown-menu w-full mt-0 hidden  bg-white absolute left-0 top-full" aria-labelledby="dropdownMenuButtonU">
                                    <div class="px-6 lg:px-8 py-5">
                                        <div class="grid md:grid-cols-3 gap-4">
                                            <div class="bg-white">
                                                <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Lorem ipsum</p>
                                                <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                    <a href="#!">
                                                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                    </a>
                                                </div>
                                                <div class="flex items-center justify-between mt-1 mb-3">
                                                    <p class="flex items-center text-blue-400">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                      <path fill="currentColor" d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z"></path>
                                    </svg> Travels
                                                    </p>

                                                </div>

                                            </div>
                                            <div class="bg-white">
                                                <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Explit voluptas</p>
                                                <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/011.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                    <a href="#!">
                                                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                    </a>
                                                </div>
                                                <div class="flex items-center justify-between mt-1 mb-3">
                                                    <p class="flex items-center text-red-500">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512">
                                      <path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path>
                                    </svg> Business
                                                    </p>
                                                    <p class="text-gray-700"><u>15.07.2021</u></p>
                                                </div>

                                            </div>
                                            <div class="bg-white">
                                                <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Cras justo odio</p>
                                                <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                    <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/018.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                    <a href="#!">
                                                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                    </a>
                                                </div>
                                                <div class="flex items-center justify-between mt-1 mb-3">
                                                    <p class="flex items-center text-yellow-500">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                      <path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path>
                                    </svg> Technology
                                                    </p>
                                                    <p class="text-gray-700"><u>15.07.2021</u></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item ml-auto lg:px-6">
                                <a class="nav-link font-semibold text-lg block pr-3 lg:px-10 py-2 text-white hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">النشاط التجاري</a>
                            </li>
                            <li class="nav-item ml-auto lg:px-6">
                                <a class="nav-link font-semibold text-lg block pr-3 lg:px-4 py-2 text-white hover:text-green-700 border-gray-300 focus:text-green-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">من نحن</a>
                            </li>
                            <li class="nav-item ml-auto lg:pl-6">
                                <a class="nav-link font-semibold text-lg block pr-3 lg:px-4 py-2 text-white hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">الرئيسية</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="pt-32  flex content-center items-center justify-center" style="height: 50vh;">
                <div>
                    <img src="https://th.bing.com/th/id/R.6390ff871f109326b5ea0893fc5c218e?rik=G2xSY6VRXRhSCw&pid=ImgRaw&r=0" alt="" class="absolute top-0 right-0 w-full h-full bg-center bg-cover  brightness-50 ">
                    <span id="blackOverlay" class=" w-full h-full absolute   absolute top-0 right-0 " style="background-color: rgba(40, 57, 34, 0.218); "></span>
                </div>
                <div class="container relative mx-auto bg-blue-100 hidden ">
                    <div class="items-center flex flex-wrap">
                        <div class="w-full lg:w-6/12   ml-auto mr-auto ">
                            <div class="">
                                <h1 class="text-white font-semibold text-5xl flex justify-center text-green-700">
                                    أتصل بنا</h1>
                                <p class="mt-10 text-xl text-gray-300 flex justify-center text-right  ">
                                    سواء كنت تجمع المعلومات لمشروع مستقبلي ، أو تبحث عن مساعدة فورية ، أو ببساطة لديك سؤال ، نحن هنا من أجلك. أكمل النموذج وسنرد في أسرع وقت ممكن. </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="">
            <!-- this relative is for sticky nav bar-->

            <div class="container  px-64 mx-auto ">


                <div class=" p-10">

                    <h2 class="text-3xl font-bold mb-6">
                        <p class="text-green-600 mb-3 flex justify-end">
                            أتصل بنا
                        </p>

                        <p class="text-base text-gray-400  flex justify-end ">
                            سواء كنت تجمع المعلومات لمشروع مستقبلي ، أو تبحث عن مساعدة فورية ، أو ببساطة لديك سؤال ، نحن هنا من أجلك أكمل النموذج
                        </p>
                        <p class="text-base text-gray-400  flex justify-end ">
                            . وسنرد في أسرع وقت ممكن
                        </p>
                    </h2>
                    <div class="md:mt-12 lg:mt-0 mb-12 lg:mb-10 ">
                        <form class="w-full" method="POST">
                            {% csrf_token %}
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">

                                    <input name="name" class="appearance-none block w-full flex text-right text-gray-700 border border-b-8 border-green-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-first-name" type="text" placeholder="ألاسم الثاني">
                                </div>
                                <div class="w-full md:w-1/2 px-3">

                                    <input class="appearance-none block w-full flex text-right text-gray-700 border border-b-8 border-green-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="ألاسم الاول">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">

                                    <input name="email" class="appearance-none block w-full flex text-right text-gray-700 border border-b-8 border-green-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email" placeholder="ألبريد ألاكتروني">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">

                                    <input class="appearance-none block w-full flex text-right text-gray-700 border border-b-8 border-green-700 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="phonenumber" type="tel" placeholder="رقم الهاتف">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">

                                    <textarea name="message" class=" no-resize appearance-none block flex text-right w-full text-gray-700 border border-green-700 border-b-8 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"
                                        placeholder="أي محتوى إضافي تريد إخبارنا عنه"></textarea>
                                </div>
                            </div>
                            <div class="md:flex md:items-center">
                                <div class="md:w-1/3">
                                    <button class="relative inline-flex items-center justify-center p-2 px-6 py-2 overflow-hidden font-medium text-green-700 transition duration-300 ease-out border-2 border-green-700 rounded-full shadow-md group">
                                            
                                                <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 translate-x-full bg-green-700 group-hover:translate-x-0 ease">
                                                    <i class="fa-solid fa-arrow-left"></i>

                                                </span>
                                                <span class="absolute flex  items-center justify-center w-full h-full text-green-700 transition-all duration-300 transform group-hover:translate-x-full ease">أرسال</span>
                                                <span class="relative invisible">أرسال</span>
                                           
                                        </button>
                                </div>
                                <div class="md:w-2/3"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



        </section>
        <!-- Section: Design Block -->

    </div>
    <section class="text-gray-600 body-font relative">
        <div class="absolute inset-0 bg-gray-300 w-full h-full">
            <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d213392.94151159923!2d44.21582025784518!3d33.311894384717526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15577f67a0a74193%3A0x9deda9d2a3b16f2c!2sBaghdad!5e0!3m2!1sen!2siq!4v1655740898388!5m2!1sen!2siq"
                style="filter: contrast(1.2) opacity(0.7);"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex h-96">
        </div>
    </section>

    <hr class="border-1 border-gray-300 mb-16">
    <section>




        <footer class="container px-16 mx-auto m-16 flex-row">
            <div class="grid grid-cols-4 gap-6 mb-32">
                <div class="mr-32 col-span-2">
                    Logo
                </div>
                <div class="text-gray-400 text-base col-span-1 pt-2">
                    Feel free to contact us at 0770-123-4567
                </div>
                <div class="col-span-1">
                    <div>
                        <div>
                            <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="w-2 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                    <path
                                        fill="currentColor"
                                        d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                                    ></path>
                                    </svg>
                            </a>

                            <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                    fill="currentColor"
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                                    ></path>
                                    </svg>
                            </a>

                            <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                                    <path
                                    fill="currentColor"
                                    d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                                    ></path>
                                    </svg>
                            </a>

                            <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                    fill="currentColor"
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                                    ></path>
                                    </svg>
                            </a>

                            <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                    fill="currentColor"
                                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                    </path>
                                    </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="grid grid-cols-6 grid-rows-1 gap-4 grid-flow-row">
                <div class="col-span-3 pr-12">
                    <h2 class="text-green-700 mb-3 font-bold text-3xl">We got you</h2>
                    <div class="mb-3 text-base text-gray-400">
                        Ipsum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur hic aperiam aliquam, recusandae porro, maiores quae voluptate et sunt aliquid nam inventore magni dolorum? Doloribus fugiat distinctio natus! Quae, possimus?
                    </div>
                    <a href="contact.html" class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-green-700 transition duration-300 ease-out border-2 border-green-700 rounded-full shadow-md group">
                        <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-green-700 group-hover:translate-x-0 ease">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
                        </span>
                        <span class="absolute flex items-center justify-center w-full h-full text-green-700 transition-all duration-300 transform group-hover:translate-x-full ease">Contact us!</span>
                        <span class="relative invisible">Contact us!</span>
                    </a>
                </div>
                <div class="col-span-1">
                    <h3 class="text-green-700 mb-3 font-bold">Our Advantage</h3>
                    <div>
                        <ul class="text-gray-400">
                            <li class="hover:text-green-700 mb-1"><a href="">Performance</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">sustainability</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Why Ecomena</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Alternative Materials</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Plastic Lumber</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-1">
                    <h3 class="text-green-700 mb-3 font-bold">Our Materials</h3>
                    <div>
                        <ul class="text-gray-400">
                            <li class="hover:text-green-700 mb-1"><a href="">Structural Applications</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Commercial Applications</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Residential Applications</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Markets</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-1">
                    <h3 class="text-green-700 mb-3 font-bold">Resources</h3>
                    <div>
                        <ul class="text-gray-400">
                            <li class="hover:text-green-700 mb-1"><a href="">Recent News and Insight</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Technical Resources</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">FAQs</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Warranties & Certifications</a></li>
                            <li class="hover:text-green-700 mb-1"><a href="">Intellectual Property</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <hr class="border-1 border-gray-300 mb-16">

        <footer class="pb-12 pl-12">
            <span class="text-gray-400">
                &#169; 2022 - Ecomena. All rights reserved | Site by <a class="hover:text-green-700" href="https://www.computiq.tech/">computiq</a>
            </span>
            <!-- Back to top button -->
            <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block p-3 bg-green-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-gren-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out hidden bottom-5 right-5 fixed"
                id="btn-back-to-top">
            <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            class="w-4 h-4"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            >
            <path
                fill="currentColor"
                d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
            ></path>
            </svg>
            </button>
            </div>
        </footer>




    </section>
    <!-- The JS file used below only for back to top button -->
    <script src="eco.js">
    </script>
</body>

</html>