<!-- templates/index.html -->

{% extends "_base.html" %} {% block content %}


<!-- Container for demo purpose -->
<div>



    <section class="relative">
        <nav class=" sticky top-0 z-50  py-4 px-8 absolute  navbar navbar-expand-lg   flex items-center w-full justify-end ">
            <img src="../static/img/mena png.png " style="height: 20px;">
        </nav>
        <nav class=" sticky top-10 z-50   absolute  navbar navbar-expand-lg  lg:w-auto py-1 lg:bg-transparent lg:shadow-none flex items-center w-full justify-between ">
            <div class="px-6 w-full flex flex-wrap items-center justify-between border-t-2 border-black">
                <button class="navbar-toggler ml-auto border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContentU"
                    aria-controls="navbarSupportedContentU" aria-expanded="false" aria-label="Toggle navigation">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-5" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                    </svg>
                  </button>
                <div class="navbar-collapse collapse grow items-center navr" id="navbarSupportedContentU">
                    <ul class="navbar-nav ml-auto flex flex-row ">

                        <li class="nav-item dropdown static lg:px-6">
                            <a class="nav-link block pr-2 lg:px-2 py-2 text-xl  font-extrabold text-black hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out dropdown-toggle flex items-center whitespace-nowrap" href="#" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                type="button" id="dropdownMenuButtonU" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path>
                                      </svg> المشاريع

                            </a>
                            <div class="dropdown-menu w-full mt-0 hidden  bg-white absolute left-0 top-full" aria-labelledby="dropdownMenuButtonU">
                                <div class="px-6 lg:px-8 py-5">
                                    <div class="grid md:grid-cols-3 gap-4">
                                        <div class="bg-white">
                                            <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Lorem ipsum</p>
                                            <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                <a href="#!">
                                                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                            <div class="flex items-center justify-between mt-1 mb-3">
                                                <p class="flex items-center text-blue-400">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                      <path fill="currentColor" d="M480 192H365.71L260.61 8.06A16.014 16.014 0 0 0 246.71 0h-65.5c-10.63 0-18.3 10.17-15.38 20.39L214.86 192H112l-43.2-57.6c-3.02-4.03-7.77-6.4-12.8-6.4H16.01C5.6 128-2.04 137.78.49 147.88L32 256 .49 364.12C-2.04 374.22 5.6 384 16.01 384H56c5.04 0 9.78-2.37 12.8-6.4L112 320h102.86l-49.03 171.6c-2.92 10.22 4.75 20.4 15.38 20.4h65.5c5.74 0 11.04-3.08 13.89-8.06L365.71 320H480c35.35 0 96-28.65 96-64s-60.65-64-96-64z"></path>
                                    </svg> Travels
                                                </p>

                                            </div>

                                        </div>
                                        <div class="bg-white">
                                            <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Explit voluptas</p>
                                            <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/011.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                <a href="#!">
                                                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                            <div class="flex items-center justify-between mt-1 mb-3">
                                                <p class="flex items-center text-red-500">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512">
                                      <path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path>
                                    </svg> Business
                                                </p>
                                                <p class="text-gray-700"><u>15.07.2021</u></p>
                                            </div>

                                        </div>
                                        <div class="bg-white">
                                            <p class="block pt-2 w-full uppercase font-semibold text-gray-700">Cras justo odio</p>
                                            <div class="relative overflow-hidden bg-no-repeat bg-cover py-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                                                <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/018.webp" class="w-full rounded-md shadow-lg" alt="Louvre" />
                                                <a href="#!">
                                                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                                </a>
                                            </div>
                                            <div class="flex items-center justify-between mt-1 mb-3">
                                                <p class="flex items-center text-yellow-500">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" class="w-4 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                      <path fill="currentColor" d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"></path>
                                    </svg> Technology
                                                </p>
                                                <p class="text-gray-700"><u>15.07.2021</u></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item ml-auto lg:px-6">
                            <a class="nav-link  text-xl block pr-3 lg:px-10 py-2 text-black font-extrabold hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out" href="{% url 'post' %}" data-mdb-ripple="true" data-mdb-ripple-color="light">اخر الاخبار</a>
                        </li>
                        <li class="nav-item ml-auto lg:px-6">
                            <a class="nav-link text-xl block pr-3 font-extrabold lg:px-4 py-2 text-black hover:text-green-700 border-gray-300 focus:text-green-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">من نحن</a>
                        </li>
                        <li class="nav-item ml-auto lg:pl-6">
                            <a class="nav-link text-xl block pr-3 font-extrabold lg:px-4 py-2 text-black hover:text-green-700 focus:text-green-700 transition duration-150 ease-in-out" href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">الرئيسية</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class=" mb-16 flex content-center items-center justify-center " style="min-height: 75vh; ">
            <div>
                <img src="https://www.mccraylumber.com/wp-content/uploads/2021/02/deckoratorsNew2021-862x359.jpg" alt=" " class="absolute top-0 right-0 w-full h-full bg-center bg-cover " style="
                    background: hsla(0, 0%, 100%, 0.55);
                    backdrop-filter: blur(90px);
                   
                  ">
                <span id="blackOverlay " class=" w-full h-full absolute top-0 right-0 " style="background-color: rgba(50, 60, 45, 0.299); "></span>
            </div>
            <div class="container relative mx-auto mt-64 ">
                <div class="items-center flex flex-wrap ">
                    <div class="w-full lg:w-4/12 ml-auto ">
                        <div class="pr-12 ">
                            <h1 class="text-black font-black  text-5xl flex justify-end animate fadeInLeft delay-600 ">
                                المتانة..<span class="text-green-700 ">القوة</span>..الجمال </h1>
                            <h3 class="mt-10 text-2xl text-black-300 font-medium flex justify-end text-right animate fadeInLeft delay-800 ">
                                بالنسبة لأولئك الذين يحتاجون إلى مزيج من القوة والمتانة والجمال في الهواء الطلق ، يوفر أداءً لا مثيل له في المواد البديلة التي يمكنك الاعتماد عليها</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative">
        <!-- this relative is for sticky nav bar-->
        <div class="container  px-32 mx-auto">

            <!-- Section: Design Block -->
            <section class="mb-32 text-gray-800">
                <h2 class="text-3xl font-bold mb-6 text-center">
                    الخدمات التي <u class="text-green-700 ">نوفرها</u>
                </h2>
                <div class="flex flex-wrap  items-center">
                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-7/12 md:px-6">



                        <div class="md:mt-12 lg:mt-0 mb-12 lg:mb-10 ">
                            <div class="relative block rounded-lg shadow-lg px-6 pt-12 pb-6 md:px-12 lg:-mr-14" style="
                                            background: hsla(0, 0%, 100%, 0.55);
                                            backdrop-filter: blur(30px);
                                            z-index: 2;
                                          ">
                                <h2 class="text-3xl font-bold mb-6  flex justify-end">لايوجد بديل </h2>
                                <br>
                                <p class="text-gray-500 mb-6 font-semibold flex justify-end text-right">
                                    منتجات موثوقة وصديقة للبيئة تلبي توقعات جميع أصحاب المصلحة على أعلى مستوى في صناعة الأخشاب
                                </p>

                                <p class="text-gray-500 font-semibold  mb-6 flex justify-end text-right">


                                    أن نصبح من أوائل المنتجين في العراق ومنطقة الشرق الأوسط وشمال إفريقيا في مواد البناء الصديقة للبيئة ، وجعل أيكومينا علامة تجارية عالمية
                                </p>

                                <br>
                                <div class="flex justify-start">
                                    <a href="contact.html" class="relative inline-flex items-center justify-center p-6 px-4 py-2 overflow-hidden font-medium text-green-700 transition duration-300 ease-out border-2 border-green-700 rounded-full shadow-md group">
                                        <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 translate-x-full bg-green-700 group-hover:translate-x-0 ease ">
                                                <i class="fa-solid fa-arrow-left"></i>
                                            </span>

                                        <span class="absolute flex items-center justify-center w-full h-full text-green-700 transition-all duration-300 transform group-hover:translate-x-full ease">أقرا المزيد</span>
                                        <span class="relative invisible">أقرا المزيد </span>
                                    </a>
                                </div>




                            </div>
                        </div>

                    </div>


                    <div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0 md:px-6">
                        <img src="../static/img/Untitled.png" class="w-full" />

                    </div>


                </div>
            </section>
            <!-- Section: Design Block -->

        </div>
        <!-- Container for demo purpose -->
    </section>
    <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->
<h2 class="text-3xl font-bold mb-12 pb-4 text-center"> خواص الخشب<u class="text-green-700 "> البلاستيكي</u></h2>

<div class="container   mx-auto relative ">

    <img src="../static/img/wood-clipped.png" alt="Snow" style="width:100%;">
    <div class="bottom-left flex">
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium  text-sm px-2.5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 rounded-full m-1  " type="button"
            data-modal-toggle="popup-modal1">
                <i class="fa-regular fa-sun"></i>
      </button>
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button"
            data-modal-toggle="popup-modal1">
                الثبـــات 
          </button>

        <div id="popup-modal1" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3  right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal1">
                          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                      </button>
                    <div class="p-6 text-center pt-12">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">ثابت فيزيائياً- لا تتغير أبعاده مع الزمن. يتحمل حراره الشمس المباشره وتتغير ألوانه ببطيء شديد أبطأ من الخشب الصلب، ومقاوم للأشعة فوق البنفسيجية.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-left flex">

        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium  text-sm px-2.5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 rounded-full m-1  " type="button"
            data-modal-toggle="popup-modal2">
                <i class="fas fa-hand-holding-water"></i>
  </button>
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button"
            data-modal-toggle="popup-modal2">
                مقاوم للماء
          </button>

        <div id="popup-modal2" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal2">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  

                        </button>
                    <div class="p-6 text-center pt-12">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">ذو مقاومة عالية للرطوبة والماء وذلك لان سطحه مغطي بطبقة بلاستيكية (غير محبة للماء) لا تمتص الماء ولا الرطوبة و لاتسمح له بالتوغل داخل الجزيئات.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-right flex">
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium  text-sm px-2.5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 rounded-full m-1  " type="button"
            data-modal-toggle="popup-modal3">
                <i class="fas fa-tools"></i>
  </button>
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" type="button"
            data-modal-toggle="popup-modal3">
                الصلابة الشديدة 
          </button>

        <div id="popup-modal3" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal3">
                          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                      </button>
                    <div class="p-6 text-center pt-12">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">ومع الاختبارات تبين أنه أقوي من الخشب من 3 إلى 5 مرات ( حسب نوع الخشب أو الفايبر المستخدم ) بالإضافة إلي خلوه من عيوب الخشب الطبيعية</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-right flex">
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium  text-sm px-2.5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 rounded-full m-1  " type="button"
            data-modal-toggle="popup-modal4">
            <i class="fa-regular fa-sun"></i>
  </button><button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            type="button" data-modal-toggle="popup-modal4">
                صديق للبيئة
          </button>

        <div id="popup-modal4" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal4">
                          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                      </button>
                    <div class="p-6 text-center pt-12">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">مفيد صحيا أكثر من الخشب لأن الخشب حتى يخدم فترة أطول يعالج بأنواع مختلفة من المواد الكيميائية بينما الخشب البلاستيكي فلا يعالج بالمواد الكيميائية ولهذا فهو صديق للبيئة .

                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered flex">
        <button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium  text-sm px-2.5 py-2 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 rounded-full m-1  " type="button"
            data-modal-toggle="popup-modal4">
        <i class="fa-regular fa-sun"></i>
</button><button class="block text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            type="button" data-modal-toggle="popup-modal4">
            الصيانة
      </button>

        <div id="popup-modal4" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal4">
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                  </button>
                    <div class="p-6 text-center pt-12">
                        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">مفيد صحيا أكثر من الخشب لأن الخشب حتى يخدم فترة أطول يعالج بأنواع مختلفة من المواد الكيميائية بينما الخشب البلاستيكي فلا يعالج بالمواد الكيميائية ولهذا فهو صديق للبيئة .

                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Container for demo purpose -->
<div class="container  px-32 mx-auto ">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center pt-32">

        <h2 class="text-3xl font-bold mb-12 pb-4 text-center">استعمالات <u class="text-green-700 ">المنتج</u></h2>

        <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
            <div class="mb-6 lg:mb-0 desc">
                <div class="relative block bg-white rounded-lg shadow-lg a">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://th.bing.com/th/id/R.0704614254459800d4b7f4a9fd3bc39c?rik=d38JdXRCCaXv7w&riu=http%3a%2f%2famerican-plasticlumber.com%2fwp-content%2fuploads%2f2015%2f12%2flp-structural-2.jpg&ehk=wp0bHHKGT7tpcfZO7bkDjojcd38hY5xSdWSQz5PGt0A%3d&risl=&pid=ImgRaw&r=0"
                                class="w-full" style="height:250px ; width:380px" />
                            <a href="#!">
                                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6 ">
                        <h5 class="font-bold text-lg mb-3">الاستخدام في في مواد البناء</h5>

                        <div class="show-desc flex text-right">
                            <h2>في التطبيقات الخارجية، يمكن استخدامها في الإنشاءات / ألواح قوالب الصب، تكسية الجدران الخارجية، أثاث الحدائق، مقاعد المنتزهات وغيرها، المنازل الجاهزة، تطبيقات خارجية أخرى، أرضيات السطح الخارجية.</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-6 lg:mb-0 desc">
                <div class="relative block bg-white rounded-lg shadow-2xl a">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://th.bing.com/th/id/OIP.OQ4e1uUOKCG_eGH3hVagWQHaFj?pid=ImgDet&rs=1" class="w-full" style="height:250px ; width:380px" />
                            <a href="#!">
                                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="font-bold text-lg mb-3 a">الاستخدام في التجارة</h5>
                        <div class="show-desc">
                            <h2>لأي تطبيق تجاري ، يحتوي أيكومينا على المواد التي تحتاجها لبناء منتجات تعمل بشكل جميل.</h2>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mb-0 desc">
                <div class="relative block bg-white rounded-lg shadow-lg a">
                    <div class="flex">
                        <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4" data-mdb-ripple="true" data-mdb-ripple-color="light">
                            <img src="https://th.bing.com/th/id/R.729f3c6aa7990e0593c647dc59f66fc2?rik=d17BEBfLPuF7Ew&pid=ImgRaw&r=0" class="w-full" style="height:250px ; width:380px" />
                            <a href="#!">
                                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                    </div>
                    <div class="p-6">
                        <h5 class="font-bold text-lg mb-3 a">الاستخدام في المنزل</h5>
                        <div class="show-desc flex text-right">
                            <h2> يمكن استخدام لوحات في المطابخ المعيارية، والأثاث المنزلي والمكتبي، وألواح الجدران، وحلول السقف، وخزائن الملابس، والقسم الصناعي، وخزانات وألواح التحكم، وخزائن الحمام، وإطار النوافذ والأبواب، والقضبان.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->

<!-- Section: Design Block -->
<section class="mb-32 text-gray-800 flipcard">


    <h2 class="text-3xl font-bold mb-12 text-center">
        لماذا<u class="text-green-700"> نحن؟</u>
    </h2>

    <!-- horizontal -->


    <div class="flip">
        <div class="front bg-center relative" style="background-image: url(https://5.imimg.com/data5/PV/CK/YV/ANDROID-39771616/product-jpeg-500x500.jpg); background-repeat: no-repeat;background-size: auto;">
            <span id="blackOverlay" class=" w-full h-full absolute   absolute top-0 right-0 rounded-lg" style="background-color: rgba(40, 57, 34, 0.218);  "></span>

            <h1 class="text-shadow "> الإستدامة
            </h1>
        </div>
        <div class="back">
            <h2>الإستدامة</h2>
            <p>هدفنا هو إنشاء الخشب البلاستيكي البديل الأكثر دواما وفي نفس الوقت إنقاذ الكوكب.
            </p>
        </div>
    </div>

    <div class="flip">
        <div class="front" style="background-image: url(https://th.bing.com/th/id/OIP.tQyRvRITl9a7X2CF75Cm_gHaFj?pid=ImgDet&rs=1)">
            <h1 class="text-shadow">الخشب البلاستيكي</hi>
        </div>
        <div class="back">
            <h2>Angular</h2>
            <p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>
        </div>
    </div>

    <div class="flip">
        <div class="front" style="background-image: url(https://bmk-woods.com/wp-content/uploads/2018/10/pini-kay-charcoal-1.jpg)">
            <span id="blackOverlay" class=" w-full h-full absolute   absolute top-0 right-0 rounded-lg" style="background-color: rgba(40, 57, 34, 0.218); "></span>

            <h1 class="text-shadow">ألاداء</hi>
        </div>
        <div class="back">
            <h2>ألاداء</h2>
            <p>نحن نعتقد أن عملائنا بحاجة إلى مادة يمكنهم الوثوق بها.
            </p>
        </div>
    </div>

    <div class="flip">
        <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
            <span id="blackOverlay" class=" w-full h-full absolute   absolute top-0 right-0 rounded-lg" style="background-color: rgba(40, 57, 34, 0.218); "></span>

            <h1 class="text-shadow ">رضا العملاء
                </hi>
        </div>
        <div class="back">
            <h2>رضا العملاء
            </h2>
            <p>سوف نلبي احتياجات عملائنا.
            </p>
        </div>
    </div>


    </div>

</section>

</div>


<!-- Container for demo purpose -->
<hr class="border-1 border-gray-300 mb-16 ">







<!-- start footer -->
<footer class="relative text-white px-4 sm:px-8 lg:px-16 xl:px-40 2xl:px-32 py-12 lg:py-24 text-right">
    <div class="flex flex-col md:flex-row">
        <div class="w-full lg:w-2/8 lg:mx-4 lg:pr-8">
            <h5 class="uppercase tracking-wider font-semibold text-gray-500">We're Social</h5>
            <div class="col-span-1">

                <div>
                    <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="w-2 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                        <path
                                            fill="currentColor"
                                            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                                        ></path>
                                        </svg>
                    </a>

                    <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path
                                        fill="currentColor"
                                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                                        ></path>
                                        </svg>
                    </a>

                    <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                                        <path
                                        fill="currentColor"
                                        d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                                        ></path>
                                        </svg>
                    </a>

                    <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path
                                        fill="currentColor"
                                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                                        ></path>
                                        </svg>
                    </a>

                    <a href="#!" type="button" class="rounded-full border-2 border-gray-300 hover:border-green-700 text-green-700 leading-normal uppercase hover:bg-green hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="w-3 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                        <path
                                        fill="currentColor"
                                        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                        </path>
                                        </svg>
                    </a>

                </div>

            </div>
            <form class="flex items-center mt-6">
                <div class="w-full">
                    <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="grid-last-name">
                  Subscribe for our Newsletter
                </label>
                    <div class="relative">
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="email" placeholder="Enter Your Email Address">

                    </div>
                    <button type="submit" class="bg-teal-500 hover:bg-teal-400 text-white w-full px-4 py-2 text-sm font-bold rounded   my-2 mr-2">Subscribe</button>

                </div>
            </form>

        </div>

        <div class="w-full lg:w-1/8 mt-8 lg:mt-0 lg:mx-4">
            <h5 class="uppercase tracking-wider font-semibold text-gray-500">Treatments</h5>
            <ul class="mt-4">
                <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100 text-gray-500">General Dentistry</a></li>
                <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100 text-gray-500">Cosmetic Dentistry</a></li>
                <li class="mt-2"><a href="#" title="" class="opacity-75 hover:opacity-100 text-gray-500">Oral Health</a></li>
            </ul>
        </div>

        <div class="w-full lg:w-2/8 mt-8 lg:mt-0 lg:mx-4 lg:pr-8">
            <h5 class="uppercase tracking-wider font-semibold text-gray-500">وسائل الاتصال</h5>
            <ul class="mt-4  text-right">
                <li>
                    <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100 text-gray-500 flex justify-end">

                        <span class="mr-2 ">
                  بغداد,المنصور
                  </span>
                        <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                      class="fill-current">
                      <path
                        d="M12,2C7.589,2,4,5.589,4,9.995C3.971,16.44,11.696,21.784,12,22c0,0,8.029-5.56,8-12C20,5.589,16.411,2,12,2z M12,14 c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S14.21,14,12,14z" />
                    </svg>
                  </span>
                    </a>
                </li>
                <li class="mt-3">
                    <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100 text-gray-500  flex justify-end">

                        <span class="mr-2 ">
                 السبت-الخميس 8 ص - 4 ع
                  </span>
                        <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                      class="fill-current">
                      <path
                        d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10c5.514,0,10-4.486,10-10S17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" />
                      <path d="M13 7L11 7 11 13 17 13 17 11 13 11z" /></svg>
                  </span>
                    </a>
                </li>
                <li class="mt-3">
                    <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100 text-gray-500 flex justify-end">

                        <span class="mr-2">
                   0770070-09777
                  </span>
                        <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                      class="fill-current">
                      <path
                        d="M14.594,13.994l-1.66,1.66c-0.577-0.109-1.734-0.471-2.926-1.66c-1.193-1.193-1.553-2.354-1.661-2.926l1.661-1.66 l0.701-0.701L5.295,3.293L4.594,3.994l-1,1C3.42,5.168,3.316,5.398,3.303,5.643c-0.015,0.25-0.302,6.172,4.291,10.766 C11.6,20.414,16.618,20.707,18,20.707c0.202,0,0.326-0.006,0.358-0.008c0.245-0.014,0.476-0.117,0.649-0.291l1-1l0.697-0.697 l-5.414-5.414L14.594,13.994z" />
                    </svg>
                  </span>
                    </a>
                </li>
                <li class="mt-3">
                    <a href="#" title="" class="block flex items-center opacity-75 hover:opacity-100 text-gray-500 flex justify-end">

                        <span class="mr-2">
                               email@gmail.com
                                </span>
                        <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                      class="fill-current">
                                      <path
                                        d="M20,4H4C2.896,4,2,4.896,2,6v12c0,1.104,0.896,2,2,2h16c1.104,0,2-0.896,2-2V6C22,4.896,21.104,4,20,4z M20,8.7l-8,5.334 L4,8.7V6.297l8,5.333l8-5.333V8.7z" />
                                    </svg>
                                  </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="w-full lg:w-3/8 mt-8 lg:mt-0 lg:mx-4  ">
            <img src="../static/img/mena png.png" alt="" srcset="" style="height:20px ;" class="flex text-right">
            <p class="text-gray-400 flex justify-end text-right mt-2">هذه الشركة مختصة لصناعة الخشب البلاستيكي</p>


        </div>
    </div>
</footer>
<!-- end footer -->
<hr class="border-1 border-gray-300 mb-16">

<footer class="pb-12 pl-12">
    <span class="text-gray-400">
                &#169; 2022 - Ecomena. All rights reserved | Site by <a class="hover:text-green-700" href="https://www.computiq.tech/">computiq</a>
            </span>
    <!-- Back to top button -->
    <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="inline-block p-3 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-gren-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg transition duration-150 ease-in-out hidden bottom-5 right-5 fixed"
        id="btn-back-to-top">
            <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            class="w-4 h-4"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            >
            <path
                fill="currentColor"
                d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"
            ></path>
            </svg>
            </button>
    </div>
</footer>




<!-- The JS file used below only for back to top button -->
<script src="../static/js/eco.js">
</script>



{% endblock content %}